@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

:root {
	--blue-color: #0B0044;
	--yellow-color: #FFB217;
}

/*----------------------------------------------------------------------------------------*/
/*------------ Footer style --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/

.footer {
    background: var(--blue-color);
    height: 300px;
}

@media screen and (max-width:959.98px) {

}
@media screen and (max-width:560.98px) {

}
@media screen and (max-width:414.98px) {
	
}