@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

:root {
	--blue-color: #0B0044;
	--yellow-color: #FFB217;
}


/*---------------------------------------------------------------------------------------*/
/*------------ Header style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.menu__icon {
	display: none;
}

.header {
	z-index: 3;
	padding: 32px 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	transition: background 0.1s ease 0.1s;

}
.bg-head {
	background: #ffffff;
}
.header__body {
	display: grid;
	grid-template-columns: 30% 1fr;
	align-items: center;
}
.header__logo {
	max-width: 152px;
}

.menu__icon {
	display: none;
}
.header__menu {
	display: flex;
	align-items: center;
    justify-content: space-between;
	padding: 15px 0;
	border-radius: 40px;
	.menu {
		display: flex;
	}
	.menu-item {
		margin-right: 35px;
		a {
			font-weight: 500;
			font-size: 16px;
			transition: all 0.3s ease 0s;
			line-height: 1.2;
			&::after {
				display: block;
				content: '';
				top: 55%;
				height: 1px;
				width: 0%;
				left: 0;
				background-color: #000;
				transition: 0.3s ease all .1s;
			}
			&:hover::after {
				width: 100%;
			}
			&:active::after {
				width: 100%;
			}
		}
	}
}

.header__button {
	.book__demo {

	}	
}




/*=========================================================================================*/
/*============================ Media queries ==============================================*/
/*=========================================================================================*/

@media screen and (max-width:959.98px) {
	/*-------- Mobile menu style ---------*/
	.menu__icon {
		display: block;
		z-index: 5;
		position: relative;
		width: 28px;
		height: 28px;
		cursor: pointer;
		position: absolute;
		right: 18px;
		top: 23px;
		border-radius: 4px;
		background: var(--blue-color);
		span {
			position: absolute;
			left: 7px;
			top: 8px;
			height: 1px;
			width: 14px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
			border-radius: 2px;
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 14px;
			left: 7px;
			height: 1px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
			border-radius: 2px;
		}
		&::before {
			top: 14px;
		}
		&::after {
			bottom: 7px;
		}
		&._active span {
			transform: scale(0) translate(0px, -50%);
		}
		&._active::before {
			top: 50%;
			left: 7px;
			width: 15px;
			transform: rotate(-45deg) translate(0px, -50%);
		}
		&._active::after {
			top: 50%;
			left: 6px;
			width: 15px;
			transform: rotate(45deg) translate(0px, -50%);
		}
	}
	.header {
		padding: 15px 0;
	}
	/*----------------- style mobile menu --------------------------*/
	.header__menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease 0s;
		transform: translateX(100%);
		border: none;
		border-radius: 0;
		background: #fff;
		height: 100vh;
		right: 0;
		top: 0;
		.menu {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 0;
			.menu-item {
				margin-bottom: 20px;
				margin-right: 0;
				font-size: 20px;
			}
		}
		.header__button {
			margin-top: 30px;
		}
	}
	.header__menu._active {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
		width: 300px;
	}


}

@media screen and (max-width:393.98px) {
	.header__menu._active {
		width: 100%;
	}
	.header__menu {
        width: 100%;
        margin-top: 70px;
		.menu {
			margin-top: -70px;
		}
    }
	
}