@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

:root {
	--blue-color: #0B0044;
	--yellow-color: #FFB217;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #000;
} 
ul, ol {
	padding: 0;
	li {
		list-style: none;
	}
}
img {
	width: 100%;
	object-fit: cover;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	line-height: 1.1;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	height: 100%;
}
body._lock {
	overflow: hidden;
}
/*--------- for modals ---------------*/
body.lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

/*-------------------------------------*/
[class*="__container"] {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 10px;
}
html,body{
	height:100%
}

/*-------------------------------------*/
.page {
	flex: 1 1 auto;
	position: relative;
}

/*-------- btns style -----------------*/
.accent_btn {
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	background-color: var(--blue-color);
	padding: 22px 41px;
	border-radius: 36px;
	border: 1px solid transparent;
	transition: all 0.3s ease 0s;
	&:hover {
		color: var(--blue-color);
		background: #fff;
		border: 1px solid var(--blue-color);
	}
}
.border_btn {
	font-weight: 700;
	font-size: 16px;
	color: #000;
	border: 1px solid var(--blue-color);
	padding: 22px 41px;
	border-radius: 36px;
	transition: all 0.3s ease 0s;
	background: #fff;
	&:hover {
		color: #fff;
		background: var(--blue-color);
	}
}

/*--------- Page styles -----------------------------*/

.hero {
	padding: 150px 0 50px;
	position: relative;
	overflow: hidden;
	.hero__bg {
		position: absolute;
		width: 100%;
		top: -300px;
		left: 0;
	}
}
.hero__body {
	display: grid;
	grid-template-columns: 50% 1fr;
	gap: 20px;
	align-items: center;
	
}
.hero__content {
	z-index: 2;
	.hero__title {
		font-weight: 700;
		font-size: clamp(24px, 4vw, 44px);
		line-height: 1.2;
	}
	.hero__buttons {
		margin-top: 56px;
		a:not(:last-child) {
			margin-right: 20px;
		}
	}
}
.hero__image {
	z-index: 2;
	img {
		border-radius: 32px;
	}
}

/*--------------- operations ----------------------------*/

.operations {
	padding: 100px 0 50px;
}
.operations__body {
}
.operations__title {
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	margin-bottom: 44px;
}
.operations__items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
.item__operations {
	.item__img {
		img {
			width: 64px;
		}
	}
	.item__title {
		font-weight: 700;
		font-size: 18px;
		margin: 18px 0 10px;
	}
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.2;
	}	
}

/*--------------- sigsider ----------------------------*/

.sigsider {
	padding: 100px 0 50px;
}
.sigsider__body {
	display: grid;
	grid-template-columns: 50% 1fr;
	align-items: center;
	gap: 20px;
}
.sigsider__image {
	img {
		border-radius: 32px;
	}
}
.sigsider__content {
	.sigsider__bold-text {
		font-weight: 700;
		font-size: 24px;
		line-height: 140%;
		margin-bottom: 18px;
	}
	p {
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		margin-bottom: 24px;
	}
	.span__block {
		padding: 0 30px;
		span {
			font-weight: 700;
			font-size: 16px;
			padding: 22px 10px;
			border-radius: 30px;
			display: block;
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		.blue-bg-text {
			background: var(--blue-color);
			color: #fff;
		}
		.yellow-bg-text {
			background: var(--yellow-color);
		}	
	}
}





/*=========================================================================================*/
/*============================ Media queries ==============================================*/
/*=========================================================================================*/

@media screen and (max-width:959.98px) {
	.accent_btn,
	.border_btn {
		font-size: 14px;
		padding: 16px 36px;
	}
	.hero {
		padding: 100px 0 50px;
	}
	.hero__content {
		margin-bottom: 40px;
	}
	.hero__image {
		img {
			height: 300px;
		}
	}
	.sigsider__body {
		grid-template-columns: 1fr;
	}
	.sigsider__image img {
		height: 400px;
	}
}

@media screen and (max-width:767.98px) {
	.hero__body {
		grid-template-columns: 1fr;
	}
	.operations__items {
		grid-template-columns: 1fr 1fr;
	}
	.sigsider__content {
		.sigsider__bold-text {
			font-size: 20px;
		}
		p {
			font-size: 16px;
		}
		.span__block {
			padding: 0;
			span {
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-width:430.98px) {
	.hero {
		padding: 130px 0 50px;
	}
	.operations__title {
		font-size: 24px;
		margin-bottom: 34px;
	}
	.operations__items {
		grid-template-columns: 1fr;
	}
	.sigsider__image img {
        height: 300px;
    }
}



/*# sourceMappingURL=main.css.map */
